@{
    ViewData["Title"] = "About";
}

<div class="container">
    <h2 class="mt-4">About Us</h2>
    <div class="row">
        <div class="col-md-6">
            <h3 class="mt-4">History</h3>
            <p>
                    Eddies Hiking Store was founded in 2023 with the aim of providing high-quality outdoor gear. Over the years, we have become a trusted name in outdoor retail, catering to hikers and adventurers alike. Our store has been a cornerstone for the outdoor community, consistently offering the latest and most reliable equipment.

            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="mt-4">Mission</h3>
            <p>
                Our mission is to empower outdoor enthusiasts with the best gear and knowledge. We strive to offer products that enhance safety, comfort, and performance in any outdoor adventure. It is our commitment to promote sustainable and responsible outdoor activities.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="mt-4">Vision</h3>
            <p>
                We envision a world where everyone has the opportunity to experience and enjoy the great outdoors. Eddies Hiking Store aims to be a leader in innovative outdoor solutions, inspiring and equipping adventurers for a lifetime of exploration. We believe in creating a global community that respects and protects nature.
            </p>
        </div>
    </div>
</div>
