@{
    ViewData["Title"] = "Home";
}

<div class="container text-center">
    <img src="~/images/logo.png" alt="Edwards Hiking Store Logo" class="img-fluid rounded mb-4" style="max-width: 200px; margin: auto;">
    <h1 class="display-4">Welcome to Eddies Hiking Store</h1>
    <div class="row">
        <div class="col-md-6">
            <p class="lead">Your ultimate destination for outdoor adventure enthusiasts! If you're in search of high-quality hiking boots, rugged backpacks, or any other gear to fuel your outdoor passion, you've come to the right place. At Edwards Hiking Store, we're dedicated to providing you with a wide selection of top-notch products designed to enhance your hiking and outdoor experiences.</p>
        </div>
        <div class="col-md-6">
            <p class="lead">But our commitment doesn't stop there. Edwards Hiking Store is more than just a retail destination; it's a community of outdoor enthusiasts who share a love for the great outdoors. Our blog is a valuable resource for hiking tips, gear reviews, and inspiring stories from fellow adventurers. We believe in equipping you not only with the best gear but also with the knowledge and inspiration to make every hike unforgettable.</p>
        </div>
    </div>
    <p class="lead"">Explore Edwards Hiking Store today and embark on your next adventure fully equipped with the gear and expertise you need. Join our thriving community of outdoor enthusiasts, and let's make the most of nature together.</p>
</div>
